package org.denevell.userservice;

import java.util.EnumSet;
import java.util.Set;

import javax.persistence.EntityManagerFactory;
import javax.persistence.Persistence;
import javax.servlet.DispatcherType;
import javax.servlet.FilterRegistration;
import javax.servlet.ServletContainerInitializer;
import javax.servlet.ServletContext;
import javax.servlet.ServletException;
import javax.servlet.ServletRegistration;

public class UserServiceContainerInitializer implements ServletContainerInitializer {

  public static EntityManagerFactory sEntityManager;

  @Override
  public void onStartup(Set<Class<?>> c, ServletContext ctx) throws ServletException {
    ServletContext sc = ctx;
    ServletRegistration.Dynamic sr = sc.addServlet("UsersService", org.glassfish.jersey.servlet.ServletContainer.class);
    sr.setLoadOnStartup(1);
    sr.addMapping("$servicePath");
    sr.setInitParameter("javax.ws.rs.Application", "org.denevell.userservice.JerseyApplication");
    sr.setInitParameter("jersey.config.server.provider.packages", "org.denevell.userservice.serv");

    sc.addListener(org.denevell.userservice.ManifestVars.class);
    
    FilterRegistration filter = sc.addFilter("Logging Filter", org.denevell.userservice.ExceptionLogger.class);
    filter.addMappingForUrlPatterns(EnumSet.of(DispatcherType.REQUEST), false, "*/");

    sEntityManager = Persistence.createEntityManagerFactory("$persistenceUnitName");             
    System.out.println("ServletContextListener started"); 
  }

}
